html, body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0px;
  margin: 0px;
}

.item {
  border-bottom: 1px solid #999;
  padding: 20px;
}

h2 {
  margin: 20px;
}

#message {
  position: fixed;
  top: 0px;
  right: 0px;
}

.inViewport {
  background-color: #999;
}
